<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.jadoos.phonegap"
    version="0.0.1">
    <name>Jadoos</name>
    <description>Jadoos Cordova Wrapper</description>
    <license>Mozilla Public License 2.0</license>
    
    <!-- Android Platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="JadoosWrapper">
        		<param name="android-package" value="com.jadoos.android.JadoosCordovaWrapper" />
  			</feature>
        </config-file>

        <source-file src="src/android/JadoosCordovaWrapper.java" target-dir="src/com/jadoos/android" />        
    	
    	<source-file src="www/jadoos.core.js" target-dir="assets/www/js" />
    	<source-file src="www/jadoos.cordova-plugin.js" target-dir="assets/www/js" />
    	<source-file src="www/jadoos.jquery-plugin.js" target-dir="assets/www/js" />
        
    </platform>

</plugin>